@thiqah:registry=https://pkgs.dev.azure.com/ThiqahDev/_packaging/Thiqah.ReusableComponent.FrontEnd/npm/registry/
always-auth=true
//pkgs.dev.azure.com/ThiqahDev/_packaging/Thiqah.ReusableComponent.FrontEnd/npm/registry/:username=ThiqahDev
//pkgs.dev.azure.com/ThiqahDev/_packaging/Thiqah.ReusableComponent.FrontEnd/npm/registry/:_password=${NPMRC_TOKEN}
//pkgs.dev.azure.com/ThiqahDev/_packaging/Thiqah.ReusableComponent.FrontEnd/npm/registry/:email=npm requires email to be set but doesn't use the value
