<section class="productDescription">
  <div class="container-fluid">
    <div class="productDescription-navigation">
      <h4 class="productDescription-navigation-title is-active">Description</h4>
      <h4 class="productDescription-navigation-title">
        Additional Information
      </h4>
      <h4 class="productDescription-navigation-title">Reviews [5]</h4>
    </div>
    <div class="productDescription-content">
      <div class="container-fluid productDescription-content-container">
        <p class="productDescription-content-text">
          Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn
          portable active stereo speaker takes the unmistakable look and sound
          of Marshall, unplugs the chords, and takes the show on the road.
        </p>
        <p class="productDescription-content-text">
          Weighing in under 7 pounds, the Kilburn is a lightweight piece of
          vintage styled engineering. Setting the bar as one of the loudest
          speakers in its class, the Kilburn is a compact, stout-hearted hero
          with a well-balanced audio which boasts a clear midrange and extended
          highs for a sound that is both articulate and pronounced. The analogue
          knobs allow you to fine tune the controls to your personal preferences
          while the guitar-influenced leather strap enables easy and stylish
          travel.
        </p>
      </div>
      <div class="productDescription-images">
        <div class="productDescription-images-imageContainer">
          <img src="assets/images/description1.png" alt="" />
        </div>
        <div class="productDescription-images-imageContainer">
          <img src="assets/images/description2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
