<section class="relatedProducts">
  <div class="container-fluid">
    <h3 class="relatedProducts-title">Related Products</h3>
    <div class="relatedProducts-list">
      <div class="relatedProducts-card">
        <div class="relatedProducts-card-imageContainer">
          <img src="assets/images/related1.png" alt="" />
        </div>
        <div class="relatedProducts-card-content">
          <h5 class="relatedProducts-card-title">Trenton modular sofa_3</h5>
          <h6 class="relatedProducts-card-price">
            {{ 25000 | currency : "Rs. " }}
          </h6>
        </div>
      </div>
      <div class="relatedProducts-card">
        <div class="relatedProducts-card-imageContainer">
          <img src="assets/images/related2.png" alt="" />
        </div>
        <div class="relatedProducts-card-content">
          <h5 class="relatedProducts-card-title">Trenton modular sofa_3</h5>
          <h6 class="relatedProducts-card-price">
            {{ 25000 | currency : "Rs. " }}
          </h6>
        </div>
      </div>
      <div class="relatedProducts-card">
        <div class="relatedProducts-card-imageContainer">
          <img src="assets/images/related3.png" alt="" />
        </div>
        <div class="relatedProducts-card-content">
          <h5 class="relatedProducts-card-title">Trenton modular sofa_3</h5>
          <h6 class="relatedProducts-card-price">
            {{ 25000 | currency : "Rs. " }}
          </h6>
        </div>
      </div>
      <div class="relatedProducts-card">
        <div class="relatedProducts-card-imageContainer">
          <img src="assets/images/related4.png" alt="" />
        </div>
        <div class="relatedProducts-card-content">
          <h5 class="relatedProducts-card-title">Trenton modular sofa_3</h5>
          <h6 class="relatedProducts-card-price">
            {{ 25000 | currency : "Rs. " }}
          </h6>
        </div>
      </div>
    </div>
    <div class="relatedProducts-footer">
      <button class="btn relatedProducts-seeMoreBtn">View More</button>
    </div>
  </div>
</section>
