 // ==============================================================
 // $reverse-lang: en;
 // $mainSiteLang : en !default; 
 // @if $default-behaviour == true { $reverse-lang: ar; }  

 // // use this variable as default for left to right in english
 // $left: left; $right: right; $left: left; $right: right; $minus: 1; $ltr : ltr; $rtl : rtl; $font-family : $font-family-default; $font-numbers: $font-numbers-default; $fonts-map: $fonts-map-default;

 // // change variable when dir is right to left in arabic 	
 // @if $mainSiteLang == $reverse-lang { $left: right; $right: left; $left: right; $right: left; $minus: -1; $ltr: rtl; $rtl: ltr;  $font-family: $font-family-reverse; $font-numbers: $font-numbers-reverse; $fonts-map: $fonts-map-reverse;}

 // // mixins for en or ar code  
 // @mixin default() { @if $mainSiteLang!=$reverse-lang { @content; } }
 // @mixin reverse() { @if $mainSiteLang==$reverse-lang { @content; } } 

 $isWantDefinByFontFace: false !default;

 // elbaz function
 @function defaultOrReverse($defaultVar, $reverseVar) {
     @if $mainSiteLang==$default-lang {
         @return $defaultVar;
     }

     @else if $mainSiteLang==$reverse-lang {
         @return $reverseVar;
     }
 }

 @function image($fileName) {
     @return url($img-path+'/'+$fileName);
 }

 @function icon($fileName) {
     @return url($icons-path+'/'+$fileName);
 }

 $branding-path: '../../' !default;
 $default-behaviour : true !default;

 $mainSiteLang: en !default;
 $default-lang: en;
 $reverse-lang: ar;

 @if $default-behaviour==false {
     $default-lang: ar;
     $reverse-lang: en;
 }

 $left: left !default;
 $right: right !default;
 $ltr : ltr !default;
 $rtl : rtl !default;
 $minus: 1 !default;
 $font-numbers: arial !default;
 /*$fonts-map: $fonts-map-default;*/
//  $font-family-base:"hhhhh";

 // use this variable as default for left to right in english
 @if $mainSiteLang==$default-lang {
     $left: left;
     $right: right;
     $minus: 1;
     $ltr: ltr;
     $rtl: rtl;
     //  $font-family-base: $font-family-default;
     //  $font-numbers: $font-numbers-default;
     /*$fonts-map: $fonts-map-default;*/
 }

 // change variable when dir is right to left in arabic 	
 @if $mainSiteLang==$reverse-lang {
     $left: right;
     $right: left;
     $minus: -1;
     $ltr: rtl;
     $rtl: ltr;
     //  $font-family-base: $font-family-reverse;
     //  $font-numbers: $font-numbers-reverse;
     /*$fonts-map: $fonts-map-reverse;*/
 }

 // mixins  for en or ar code  
 @mixin default() {
     @if $mainSiteLang==$default-lang {
         @content;
     }
 }

 @mixin reverse() {
     @if $mainSiteLang==$reverse-lang {
         @content;
     }
 }

 $img-path : '#{$branding-path}images';
 $icons-path : '#{$img-path}/icons';
 $fonts-path : '#{$branding-path}fonts';
 $fonts-path : '#{$branding-path}fonts';
 $fa-font-path: $fonts-path+'/fontawesome';


 @mixin setFontFamily($fFamily:'Swissra-Normal', $fWeight: 400, $full-path:'') {
     @at-root {
         @font-face {
             font-family: '#{$fFamily}';
             src: url('#{$full-path}.eot');
             /* IE9 Compat Modes */
             src: url('#{$full-path}.eot?#iefix') format('embedded-opentype'),
             url('#{$full-path}.woff2') format('woff2'),
             url('#{$full-path}.woff') format('woff'),
             url('#{$full-path}.ttf') format('truetype');
             font-weight: $fWeight;
             font-style: normal;
             font-display: swap;
         }
     }
 }

 @mixin font-size($size) {
     font-size: $size;
     font-size: calculateRem($size);
 }


 // Bootsrtap themes colors ( Aliases )
 // =======================
 $pri: $primary; // ==== $primary  ====
 $sec: $secondary; // ==== secondary ==== 
 $suc: $success; // ==== success   ====  
 $inf: $info; // ==== info      ====     
 $war: $warning; // ==== warning   ====  
 $dan: $danger; // ==== danger    ====
 $lig: $light; // ==== light     ====
 $dar: $dark; // ==== dark      ==== 