<footer class="footer container-fluid">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section footer-address">
        <p class="footer-address-paragraph">
          400 University Drive Suite 200 Coral Gables, <br />
          FL 33134 USA
        </p>
      </div>
      <div class="footer-section">
        <h6 class="footer-section-title">Links</h6>
        <div class="footer-section-content">
          <a href="#" class="footer-section-link">{{ "home" | translate }}</a>
          <a href="#" class="footer-section-link">{{ "shop" | translate }}</a>
          <a href="#" class="footer-section-link">{{ "about" | translate }}</a>
          <a href="#" class="footer-section-link">{{
            "contact" | translate
          }}</a>
        </div>
      </div>
      <div class="footer-section">
        <h6 class="footer-section-title">Help</h6>
        <div class="footer-section-content">
          <a href="#" class="footer-section-link">Payment Options</a>
          <a href="#" class="footer-section-link">Returns</a>
          <a href="#" class="footer-section-link">Privacy Policies</a>
        </div>
      </div>
      <div class="footer-section">
        <h6 class="footer-section-title">Newsletter</h6>
        <form class="footer-section-form">
          <input type="email" placeholder="Enter Your Email Address" />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-paragraph">
        2022 Meubel House. All rights reserved.
      </p>
    </div>
  </div>
</footer>
