<div class="d-flex header-sidenav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" role="button">
        <img src="assets/images/icons/user.svg" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button" (click)="toggleLang()">{{
        "lang" | translate
      }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <img src="assets/images/icons/search.svg" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button">
        <img src="assets/images/icons/fav.svg" />
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#cart-modal"
        data-bs-whatever="@cartModal"
      >
        <img src="assets/images/icons/cart.svg" />
      </a>
    </li>
  </ul>
</div>
